/* stylelint-disable at-rule-descriptor-value-no-unknown */

@font-face {
    font-family: Inter-italic;
    src: url("../fonts/Inter/Inter-Italic-VariableFont.ttf") format("truetype") tech(variations),
        url("../fonts/Inter/Inter-Italic-VariableFont.ttf") format("truetype-variations");
    font-weight: 100 900;
    font-stretch: 50% 200%;
}

@font-face {
    font-family: Inter;
    src: url("../fonts/Inter/Inter-VariableFont.ttf") format("truetype") tech(variations),
        url("../fonts/Inter/Inter-VariableFont.ttf") format("truetype-variations");
    font-weight: 100 900;
    font-stretch: 50% 200%;
}

@font-face {
    font-family: "Bricolage Grotesque";
    src: url("../fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont.ttf") format(truetype) tech(variations),
        url("../fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont.ttf") format("truetype-variations");
    font-weight: 100 900;
    font-stretch: 50% 200%;
}

:root {
    --font-primary: "Bricolage Grotesque",
        serif;
    --font-secondary: "Inter",
        sans-serif;

    font-size: 8px;
}

html,
body {
    font-family: var(--font-secondary);
    font-size: 2rem;
    line-height: 1.3;



    & a {
        color: var(--link-color);
        text-decoration: underline;

        &:hover {
            color: var(--link-hover-color);
        }

        &:active {
            color: var(--link-active-color);
        }



        &.link-2 {
            color: var(--link-2-color);
            text-decoration: none;

            &:hover {
                color: var(--link-2-hover-color);
                text-decoration: underline;
            }

            &:active {
                color: var(--link-2-active-color);
                text-decoration: underline;
            }


        }


        &.link-3 {
            color: var(--link-3-color);
            text-decoration: underline;

            &:hover {
                color: var(--link-3-hover-color);
                text-decoration: none;
            }
        }
    }


    h1.h1 {
        font-family: var(--font-primary);
        color: var(--h1-color);
        font-size: 5rem;
        font-weight: bold;
        line-height: 1.3;
    }

    h2.h2 {
        font-family: var(--font-secondary);
        color: var(--h2-color);
        font-size: 3rem;
        font-weight: bold;
        line-height: 1.2;
    }

    h3.h3 {
        font-family: var(--font-primary);
        color: var(--h3-color);
        font-size: 4rem;
        font-weight: bold;
        line-height: 1.3;
    }

    h3.h3b {
        font-family: var(--font-primary);
        color: var(--h3b-color);
        font-size: 3rem;
        font-weight: bold;
        line-height: 1.3;
    }

    h4.h4 {
        font-family: var(--font-primary);
        color: var(--h4-color);
        font-size: 2rem;
        font-weight: bold;
        line-height: 1.3;
    }

    span.text-muted{
        color: var(--text-muted);
    }

}