---
import { LINKS_TYPES } from "../types/links";
import Link from "./Link.astro";
---

<footer class="footer">
  <h2 class="h2">Contact me</h2>
  <p>
    If you're looking for someone for a project or have a job opportunity in
    mind, I'd love to hear from you. Feel free to contact me on
    <Link
      variant={LINKS_TYPES.TERTIARY}
      url="https://www.linkedin.com/in/carolina-ruzafa-pe%C3%B1a/"
      target="_blank"
    >
      LinkedIn
    </Link>
  </p>
</footer>

<style>
  .footer {
    padding: 7rem 40px;
    width: 100%;
    border-radius: 24px 24px 0 0;
    background-color: var(--bg-2-color);
    text-align: center;
    color: var(--h2-light-color);
  }

  .footer h2 {
    margin-bottom: 1rem;
    color: var(--h2-light-color);
  }

  .footer p {
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
  }
</style>
