---
import Header from "./Header.astro";
---

<div id="container">
  <Header />
</div>

<style>
  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    gap: 24px;
  }
</style>
