---
import Footer from "./Footer.astro";
import Header from "./Header.astro";
---

<div id="container">
  <Header />
  <main></main>
  <Footer />
</div>

<style>
  #container {
    display: grid;
    grid-template-rows: 8vh auto 18vh;
    height: 100vh;
    gap: 24px;
  }
</style>
