---
import Footer from "./Footer.astro";
import Header from "./Header.astro";
import AboutSection from "./AboutSection.astro";
import SkillsSections from "./SkillsSections.astro";
import ProyectsSection from "./ProyectsSection.astro";
---

<div id="container">
  <Header />
  <AboutSection />
  <SkillsSections />
  <ProyectsSection />
  <Footer />
</div>

<style>
  #container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
  }
</style>
