---
import { LINKS_TYPES } from "../types/types";

interface Props {
  url?: string;
  variant?: LINKS_TYPES;
  active?: boolean;
  resume?: boolean;
  target?: string;
}

const {
  url = "#",
  variant = LINKS_TYPES.PRIMARY,
  active = false,
  resume = false,
  target,
} = Astro.props;

let cssStiles = "link";
let href = url;
let download = "";

switch (variant) {
  case LINKS_TYPES.PRIMARY:
    cssStiles += " link-primary";
    break;
  case LINKS_TYPES.SECONDARY:
    cssStiles += " link-secondary";
    break;
  case LINKS_TYPES.TERTIARY:
    cssStiles += " link-tertiary";
    break;
  default:
    cssStiles += " link-primary";
}

if (active) {
  cssStiles += " active";
}

if (resume) {
  href = "/assets/curriculum.pdf";
  download = "carolina-cv.pdf";
}
---

<a
  href={href}
  class={cssStiles}
  target={target}
  {...resume ? { download } : {}}
>
  <slot />
</a>

<style>
  a.link {
    display: block;
    text-decoration: none;
    background: none;
    border: none;
    padding: 16px;
    border-radius: 24px;
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: regular;

    &.link-primary {
      background-color: var(--bg-3-color);
      color: var(--link-color);
      transition:
        transform 0.3s,
        filter 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
        filter: brightness(1.4);
      }
    }

    &.link-secondary {
      color: var(--link-2-color);
      font-weight: bold;
      transition:
        background-color 0.3s,
        color 0.3s;

      &:hover {
        background-color: var(--bg-2-color);
        color: var(--link-color);
      }

      &.active {
        background-color: var(--bg-2-color);
        color: var(--link-color);
      }
    }

    &.link-tertiary {
      padding: 0;
      color: var(--body-light-color);
      font-weight: bold;

      &.active {
        background-color: var(--bg-2-color);
        color: var(--h4-color);
      }
    }
  }
</style>
