---
import SkillCard from "./SkillCard.astro";
import { skills } from "../data/skills.ts";
---

<section id="skills" class="skills">
  <div class="header">
    <h2 class="h1">My Stack</h2>
  </div>
  <div class="inner">
    {
      skills.map((skill) => (
        <SkillCard
          skillName={skill.name}
          skillSubtitle={skill.subtitle}
          imageSrc={skill.imageSrc}
        />
      ))
    }
  </div>
</section>

<style>
  section.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 56px;
    width: 90vw;

    div.header {
      width: 90vw;
      max-width: 824px;

      & h2.h1 {
        margin-bottom: 32px;
        margin: 0 20vm;
        font-size: clamp(24px, 5vw, 36px);
        color: var(--h1-color);
      }
    }

    & div.inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 56px;
      width: 90vw;
      max-width: 824px;
    }
  }

  @media (max-width: 390px) {
    section.skills {
      height: auto;
    }
  }
</style>
