---
import SkillCard from "./SkillCard.astro";
import { skills } from "../data/skills.ts";
---

<section id="skills" class="skills">
  <div class="inner">
    {
      skills.map((skill) => (
        <SkillCard
          skillName={skill.name}
          skillSubtitle={skill.subtitle}
          imageSrc={skill.imageSrc}
        />
      ))
    }
  </div>
</section>

<style>
  section.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding-top: 84px;

    & div.inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 56px;
      width: 90vw;
      max-width: 824px;
    }
  }

  @media (max-width: 390px) {
    section.skills {
      height: auto;
    }
  }
</style>
