---

---

<div class="skill-card">
	<div class="skill-name">
		Some awesome skill name
	</div>	 
	<div class="img">
		<img src="./assets/img/carolina-img.avif">
	</div>
</div>

<style>

 		div.skill-card{
 			display:flex;
 			width:230px;
 			
 			& div.skill-name{
 				width:80%;
 			}
 			
 			& div.img{
 				width:20%;
 			}
 		}
</style>